.new-task-section {
    padding: 5vh;
    background-color: rgb(200, 255, 224);
    color:  rgb(97, 75, 195);
  }
  
  label {
    margin-right: 1vh;
    margin-bottom: 3vh;
  }
  
  input {
    margin-right: 3vh;
    margin-bottom: 3vh;
  }