.task-checked {
background-color: gray;
color: rgb(97, 75, 195);
display: grid;
grid-template-columns: 50px 2fr 2fr 1fr;
}

.task-unchecked{
background-color: rgb(133, 230, 197);
border-style: dashed;
border-color: rgb(200, 249, 255);
border-width: 3px;
margin-bottom: 4px;
margin-top: 4px;
color:  white;
display: grid;
grid-template-columns: 50px 2fr 2fr 1fr;
}